<!DOCTYPE html>
<html>
<head>
  <title>にゃーんチェッカー</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
  <div class="mdl-grid">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-cell mdl-cell--6-col">
      <h3>にゃーんチェッカー</h3>
      <p>あなたが日々Twitterで「にゃーん（社会性フィルター」をツイートしてるかチェックします。</p>
      {% if profile %}
        {% if request.args.get('result'): %}
          {% if dates| length > 0 %}
            {% set count = dates| length | string %}
            <p>ここ最近で<b>{{ count }}回</b>「にゃーん」と鳴いてます。疲れていませんか？大丈夫ですか？</p>
            <a href='{{ "https://twitter.com/intent/tweet?text=数日で「にゃーん」と"+count+"回鳴きました。 %23にゃーんチェッカー "+request.base_url }}' target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">ツイートする（シェア画面が開きます）</a>
            <ul>
              {% for date in dates %}
                <li>{{ date.strftime('%m月%d日 %H:%M') }}</li>
              {% endfor %}
            </ul>
          {% else %}
            <p>ここ最近でにゃーんとつぶやいた日はなさそうです。健全ですね。</p>
            <a href='{{ "https://twitter.com/intent/tweet?text=最近は「にゃーん」と鳴いた日はありませんでした。 %23にゃーんチェッカー "+request.base_url }}' target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">ツイートする（シェア画面が開きます）</a>
          {% endif %}
        {% else %}
          <a href="{{ url_for('submit') }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">実行</a>
        {% endif %}
        <hr/>
        <p>@{{ profile.screen_name }}({{ profile.name}}) でログインしています。<a href="{{ url_for('logout') }}">ログアウト</a></p>
      {% else %}
        <p></p>
        <a href="{{ url_for('auth') }}" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">連携アプリ認証</a>
        <div><small>認証はにゃーんの検索のみに利用されます。権限も読込のみです。</small></div>
      {% endif %}
    </div>
    <div class="mdl-layout-spacer"></div>
  </div>
</body>
</html>